@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .3s linear;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 500;
}

:root {
    --main-color: #459f9f;
    --dark-color: #212833;
    --light-color: #f7f7f7;
    --text-color: #5e5f6e;
    --other-color: #2d8ab5;
    --more-color: #06cbcf;
    --extra-color: #96e1fa;
    --blu-color: #e1f4fd;
}

::selection {
    background: rgba(48, 71,71,0.6);
    color: #fff;
}

::-webkit-scrollbar {
    background: var(--light-color);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

section {
    padding:0 8rem;
}

.sub-heading {
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .5px;
    color: var(--text-color);
    margin-bottom: -.6rem;
}

.heading {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--light-color);
    line-height: 1.4;
}


.notification-bar {
    width: 100%;
    background: var(--main-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: .9rem;
    z-index: 1;
}

.notification-bar span {
    width: 1.5px;
    height: 15px;
    background: rgb(255 255 255 / 50%);
    margin: 0 10px;
}

.notification-bar a {
    color: #fff;
    padding: 0 3px;
    font-weight: 600;
}

.notification-bar i {
    font-size: .7rem;
    margin-left: .2rem;
}

nav {
    width: 100%;
    height: 55px;
    border-bottom: 1px solid rgb(0 0 0/15%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 3rem;
}

nav .logo {
    height: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;
}

nav img {
    height: 80%;
}

nav h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--other-color);
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: var(--other-color);
    font-weight: 600;
}

nav ul li a:hover{
    color: rgba(212, 226, 20, 0.679);
}

nav .actions {
    gap: 1rem;
}

nav .actions li:last-child a {
    background: var(--main-color);
    color: #fff;
    padding: .2rem 1rem;
    border: 2px solid var(--main-color);
}

nav .actions li:last-child:hover a{
    color: var(--text-color);
    background: transparent;
    border: 2px solid var(--other-color);
}

nav .bars,
nav .close {
    display: none;
    font-size: 1.2rem;
    cursor: pointer;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: 400;
}

body{
    background: #aad3fc;
  }
  
  
  .circle{
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.163);
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
    padding: 0;
    margin: 0;
  }
  
  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    top: -200px;
  }
  
  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    top: -300px;
  }

  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    top: -400px;
  }
  
  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    top: -500px;
  }
  
  
  
  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }
  
  .shade3{
    opacity: 0.7;
  }
  
  .shade4{
    opacity: 0.8;
  }
  
  .shade5{
    opacity: 0.9;
  }

  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }
    
    50%{
      transform: scale(1.2);
    }
    
    100%{
      transform: scale(0.8);
    }
  }
  
.home {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem 0;
    gap: 6rem;
    padding: 0;
    margin-bottom: 5px;
    margin-top: 10px;
    
}

.home .text,
.home .image {
    width: 100%;
    flex: 1 0 350px;
}

.home .text h1 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--light-color);
    line-height: 1.3;
}

.home .text p {
    font-size: 1.25rem;
    color: var(--text-color);
    margin: 1.5rem 0;
}

.home .text .actions {
    display: flex;
    gap: .5rem;
}

.home .text .actions a {
    background: var(--main-color);
    color: #fff;
    padding: .45rem 1rem;
    font-weight: 600;
    border: 2px solid var(--main-color);
}

.home .text .actions a:last-child {
    border: 2px solid rgba(48, 71, 71, 0.4);
    background: transparent;
    color: var(--main-color);
    font-weight: 700;
}

section .arrow {
    font-size: .7rem;
    margin-left: 4px;
    rotate: -45deg;
}

.home .text .actions a:last-child:hover i {
    transform: translate(4px);
}




.home .text .rating img:nth-child(1),.home .text .rating img:nth-child(2) {
    margin-right: -10px;
}

.home .image .price-image {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 2rem;
}

.home img{
    width: 500px;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        -ms-transform-origin-y: (0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 1286px) {
    .home .text h1 {
        font-size: 3.5rem;
    }

    .home{
        gap: 2rem;
    }
}

@media (max-width: 1050px) {
    section {
        padding: 0 2rem;
    }
}

@media (max-width: 820px) {
    nav {
        padding: 0 1rem;
    }

    nav ul {
        gap: .7rem;
    }

    .home .text .sub-heading {
        margin: 0;
    }

    .home .text h1 {
        font-size: 3rem;
    }
}

@media (max-width: 675px) {
    nav ul {
        display: none;
    }

    nav .bars {
        display: block;
    }

    nav.active {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: first baseline;
        justify-content: center;
        position: fixed;
        top: 0;
        gap: 3rem;
        padding: 2rem;
        z-index: 2;
        background: var(--light-color);

    }

    nav.active .logo {
        height: 65px;
        font-size: 1.4rem;
        transition: none;
    }

    nav.active ul{
        display: block;
        font-size: 1.4rem;
    }

    nav.active .actions li {
        margin-bottom: 1rem;
    }

    nav.active .bars{
        display: none;
    }

    nav.active .close{
        display: grid;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 2rem;
        right: 2rem;
        place-items: center;
    }

    nav.active .close:hover{
        background: rgb(0 0 0/15%);
    }
}

@media (max-width: 530px) {
    .home {
        margin: 1rem 0;
    }

    .home .text,
    .home .image {
        flex: 1 0 240px;
    }

    .home .text h1 {
        font-size: 2.5rem;
    }

    .resources-and-review {
        grid-template-columns: 1fr;
    }

    .home .text p {
        font-size: 1.1rem;
    }

    .home .image {
        height: 50vh;
    }

    .work-section .container {
        padding: 4rem 2rem;
    }

    footer {
        padding: 0 2rem;
    }

    footer .footer {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    footer .footer .links {
        flex-direction: column;
    }
}


.wrapper{
    display: inline-flex;

}

.wrapper .icon{
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.wrapper .icon span{
    position: relative;
    height: 55px;
    width: 55px;
    display: block;
    background: var(--main-color);
    border-radius: 50%;
    z-index: 2;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.wrapper .icon span i{
    font-size: 10px;
    line-height: 55px;
}

.wrapper .icon .tooltip{
    position: absolute;
    bottom: 0px;
    background: var(--main-color);
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .icon:hover .tooltip{
    bottom: -65px;
    opacity: 1;
    pointer-events: auto;
}

.wrapper .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: var(--blue-color);
    top: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}


.testimonial {
    display: flex;
    grid-template-columns:  1fr 1.5fr;
    gap: 1rem;
    overflow: hidden;
    margin: 2rem 0;
    background: var(--blu-color);
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.testimonial .resources {
    width: 70%;
    height: 73%;
    background: var(--more-color);
    padding: 1.5rem;
}

.testimonial .resources h4{
    color: rgb(255 255 255 / 70%);
}

.testimonial .resources h3 {
    font-size: 3rem;
    color: var(--light-color);
    line-height: 1.1;
    margin: .8rem 0 3.5rem 0;
}

.testimonial .resources .imager {
    height: 67%;
    max-height: 80vh;
    overflow: hidden;
}

.testimonial .resources .imager .img{
    float: left;
    max-width: 200px;
    margin-right: 20px;
    margin-bottom: 0;

}

@media (max-width: 600px) {
    .resources-and-review {
      flex-direction: column;
      align-items: start;
    }
    .resources-and-review .imager .img{
      margin-right: 0; 
      margin-bottom: 30px; 
    }

    .resources-and-review .review{
        margin-right: 0;
        margin-bottom: 10px; 
    }
}

.resources-and-review {
    background-color: lightgray;
    
}
.resources-and-review .review {
    background-color: rgba(206, 219, 245, 0.6); 
      color: rgb(18, 18, 19); 
      padding: 20px;
      border-radius: 50px; 
      font-size: 16px;
      gap: 5rem;
      line-height: 1.5;
      max-width: 500px;
      text-align: center;
      margin-top: 0;
      padding-top: 0;
      display: flex;
}

.resources-and-review .imager {
    width: 100vh;
    height: 100%;
}

.donation {
    background: var(--other-color);
    padding: 10px;
    line-height: 1.5;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    border: 5px solid #e2ecee;
    border-radius: 8px;

}

.donation .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.donation .head a {
    font-size: 1.1rem;
    font-weight: 600;
    color: #4f4949;
    border: 2px solid rgba(13, 67, 213, 0.561);
    padding: .4rem 1rem;
}

.work-section {
    padding: 2rem 1rem;
}

.work-section .container .boox p {
    width: 100%;
}

.column{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 10px solid #fff;
}

.work-section {
    padding: 3rem;
    height: 40rem;
    position: relative;
    display: grid;
    align-items: center;
}

.work-section .container {
    background: var(--extra-color);
    position: relative;
    height: 100%;
}

.work-section .container .boox {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.work-section .container .boox h2 {
    color: #5588e7;
    
    font-size: 3rem;
}

.work-section .container .boox p {
    font-size: 1rem;
    color: #eee;
    width: 35rem;
    text-align: center;
    margin: 1.5rem 0;
}

.work-section .container .boox .actions {
    display: flex;
    gap: 1rem;
}

.work-section .container .boox .actions a {
    color: #fff;
    padding: .5rem 1rem;
    border: 2px solid #fff;
}

.work-section .container .boox .actions a:first-child {
    background: #fff;
    color: #f2eaea;
}

.work-section .container .boox .actions a:first-child:hover {
    background: var(--extra-color);
    color: #fff;
}

footer {
    padding: 0 8rem;
    overflow: hidden;
}

footer .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3rem;
    border-bottom: 2px solid rgb(0 0 0/15%);
    padding-bottom: 3rem;
}

footer .footer .text {
    width: 100%;
}

footer .footer .text .logo {
    display: flex;
    align-items: center;
    gap: .5rem;
}

footer .footer .text .logo img {
    width: 70px;
}

footer .footer .text .logo h4{
    font-size: 1.5rem;
    font-weight: 700;
}

footer .footer .textp {
    font-size: 1.1rem;
    margin: 2rem 0;
    max-width: 26rem;
}

footer .footer .links {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

footer .footer .links ul h5 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

footer .footer .links ul li {
    list-style: none;
    margin-top: .5rem;
}

footer .footer .links ul li a {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
}

footer .footer .links ul li a:hover {
    text-decoration: underline 1.5px;
}

footer .footer .links ul p {
    font-size: 1.1rem;
    max-width: 22rem;
}

footer .footer .links ul .input {
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 1rem;
    border: 2px solid rgb(0 0 0/15%);
    align-items: center;
    padding: 0 1rem;
}

footer .footer .links ul .input input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.1rem;
    text-transform: none;
}

footer .copyright {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

footer .copyright .text {
    font-size: 1.1rem;
}

footer .copyright .icons {
    display: flex;
    gap: .8rem
}

footer .footer .links {
    flex-direction:row;
}

.notification-bar p, .notification-bar span, .notification-bar a {
    transform: translate(0, 10px);
    opacity: 0;
}

#navbar .logo, #navbar ul, #navbar .bars {
    transform: translate(0, 15px);
    opacity: 0;
}

.home .text, .home .image, .about us {
    transform: translate(0, 100px);
    opacity: 0;
}


.donation {
    background: var(--other-color);
    margin-top: 1.5rem;
    margin: 1rem;
    border-radius: 8px;
}

.donation .container .container-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.donation .container .container-box .heading{
    max-width: 30rem;
}

.donation .container .container-box .content{
    max-width: 35rem;
}

.donation .container .container-box .content p{
    line-height: 1.7;
    color: var(--white-color);
    margin-bottom: 1rem;
}

.donation .container .container-box .content a{
    color: var(--red);
    font-weight: 600;
}

.donation .container .container-box .content a i{
    margin-left: .5rem;
}

.donation .container .container-box .content a:hover i{
    margin-left: .1rem;
}

@media (max-width: 767px) {
    .donation .container .container-box .content{
        font-size: .8rem;
    }
}

@media (max-width: 607px) {
    .donation {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

.bottom{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 10px solid #fff;
}



